    <script src="https://use.fontawesome.com/317fdf9ab9.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/javascripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>
