<% include partials/header %>

<div class="box">
	<i class="fa fa-bitcoin fa-3x" aria-hidden="true"></i>
	<h1 class="h1_portfolio">thou portfolio</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 add-coin">
      <a href="/portfolio/new" class="btn btn-primary">Add Coin</a>
    </div>
  </div>
</div>

<div class="container portfolio-summary">
  <div class="row">
    <div class="col-lg-4">
      <h4>Total Portfolio Value (INR)</h4>
      <h2>22500</h2>
    </div>
    <div class="col-lg-4">
      <h4>Total Portfolio Value (BTC)</h4>
      <h2>0.06987584</h2>
    </div>
    <div class="col-lg-4">
      <h4>% Change 24hrs</h4>
      <h2>+5.6%</h2>
    </div>
  </div>
</div>

<div class="container portfolio-data">
  
</div>

<% include partials/footer %>
