/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  color: yellow;
}*/

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.box {
  background-color: lightsalmon;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0px;
}

.box i {
  margin-right: 10px;
}

.h1_portfolio {
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 45px;
  font-family: 'Tangerine', cursive;
}

.con_portfolio {
  padding: 0px 100px;
}

.con_portfolio .row {
  margin-left: 0px;
  margin-right: 0px;
}

.fa-line-chart {
  margin-right: 20px;
}

.add-coin {
  text-align: center;
}

.add-coin a {
  width: 30%
}

.portfolio-summary {
  margin-top: 15px;
  margin-bottom: 15px;
}

.portfolio-summary .row .col-lg-4 {
  text-align: center;
}

.portfolio-container {
  margin-top: 30px;
  padding: 0px 300px;
}

.form-group {
  display: inline-flex;
  width: 100%;
}

.form-group label {
  align-self: center;
  width: 30%;
}

.order-group label {
  width: 23%;
}

.form-check-inline {
  width: 35%;
}
